# **Visão Geral do Notebook**

O notebook começa importando a biblioteca Pandas para manipulação de dados e carrega um conjunto de dados sobre os passageiros do **[Titanic](https://www.kaggle.com/c/titanic/data)** a partir de um **[link disponibilizado](https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv)**, exibindo uma prévia dos dados. 

Em seguida, o **quadro de dados** é salvo em um arquivo CSV no diretório **"../data/raw/titanic.csv"**. 

Um dicionário de dados, documentando as variáveis do conjunto de dados com descrições, tipos e subtipos, é criado e salvo em um arquivo CSV separado no diretório **"../data/external/dictionary.csv"**, e seu conteúdo é exibido para revisão.

## **1. Importação de Bibliotecas Necessárias**

In [2]:
# Importação das bibliotecas necessárias

import pandas as pd

* A importação da biblioteca Pandas é feita para manipular, analisar e organizar o conjunto de dados em Python de maneira eficiente e estruturada.

## **2. Leitura do Conjunto de dados**

In [10]:
# Carregamento do Conjunto de Dados

df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

* Os dados incluem informações sobre os passageiros do Titanic, como se sobreviveram (**survived**), a classe do bilhete (**pclass**), o sexo (**sex**), a idade (**age**), o número de familiares a bordo (**sibsp** e **parch**), a tarifa paga (**fare**), o porto de embarque (**embarked**), a classe social (**class**), a categoria (**who**), se são adultos masculinos (**adult_male**), o deck (**deck**), a cidade de embarque (**embark_town**), se sobreviveram (**alive**) e se estavam viajando sozinhos (**alone**).

In [11]:
# Salvando dados no Data (Raw)

df.to_csv("../data/raw/titanic.csv",index=False)

* O **quadro de dados** `df` foi salvo em um arquivo CSV no diretório **"../data/raw/titanic.csv"**, sem incluir o índice das linhas.

## **3. Criação de um Dicionário de Dados**

In [14]:
dicionario = pd.DataFrame ([
{
"variavel": "survived",
"descrição": "Indica se o passageiro sobreviveu (sim = 1 ou não = 0)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "pclass",
"descrição": "Classe do ticket do passageiro (1 = 1ª, 2 = 2ª, 3 = 3ª)",
"tipo": "qualitativa",
"subtipo": "ordinal"
},{
"variavel": "sex",
"descrição": "Sexo do passageiro",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "age",
"descrição": "Idade do passageiro",
"tipo": "quantitativa",
"subtipo": "contínua"
},{
"variavel": "sibsp",
"descrição": "Número de irmãos/cônjuges a bordo",
"tipo": "quantitativa",
"subtipo": "discreta"
},{
"variavel": "parch",
"descrição": "Número de pais/filhos a bordo",
"tipo": "quantitativa",
"subtipo": "discreta"
},{
"variavel": "fare",
"descrição": "Tarifa paga pelo passageiro",
"tipo": "quantitativa",
"subtipo": "contínua"
},{
"variavel": "embarked",
"descrição": "Porto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "class",
"descrição": "Classe do ticket (Primeira, Segunda, Terceira)",
"tipo": "qualitativa",
"subtipo": "ordinal"
},{
"variavel": "who",
"descrição": "Descrição da pessoa (homem, mulher, criança)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "adult_male",
"descrição": "Indica se é um homem adulto (Verdadeiro/Falso)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "deck",
"descrição": "Deck do passageiro",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "embark_town",
"descrição": "Cidade de embarque",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "alive",
"descrição": "Indica se o passageiro sobreviveu (sim ou não)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "alone",
"descrição": "Indica se o passageiro estava sozinho (Verdadeiro/Falso)",
"tipo": "qualitativa",
"subtipo": "nominal"
}
])

* Foi criado um **quadro de dados** e chamado `dicionario` que lista as variáveis do conjunto de dados Titanic, descrevendo cada uma delas, **seu tipo (qualitativa ou quantitativa)** e **seu subtipo (nominal, ordinal, discreta ou contínua)**.

In [15]:
# Salavando dados no Data (External)

dicionario.to_csv("../data/external/dictionary.csv",index=False)

# Visualização do Dicionário de Dados

dicionario

,variavel,descrição,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu (sim = 1 ou ...,qualitativa,nominal
1,pclass,"Classe do ticket do passageiro (1 = 1ª, 2 = 2ª...",qualitativa,ordinal
2,sex,Sexo do passageiro,qualitativa,nominal
3,age,Idade do passageiro,quantitativa,contínua
4,sibsp,Número de irmãos/cônjuges a bordo,quantitativa,discreta
5,parch,Número de pais/filhos a bordo,quantitativa,discreta
6,fare,Tarifa paga pelo passageiro,quantitativa,contínua
7,embarked,Porto de embarque (C = Cherbourg; Q = Queensto...,qualitativa,nominal
8,class,"Classe do ticket (Primeira, Segunda, Terceira)",qualitativa,ordinal
9,who,"Descrição da pessoa (homem, mulher, criança)",qualitativa,nominal
10,adult_male,Indica se é um homem adulto (Verdadeiro/Falso),qualitativa,nominal
11,deck,Deck do passageiro,qualitativa,nominal
12,embark_town,Cidade de embarque,qualitativa,nominal
13,alive,Indica se o passageiro sobreviveu (sim ou não),qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho (Verdade...,qualitativa,nominal

* Os dados do `dicionario` foram salvos em um arquivo CSV no diretório **"../data/external/dictionary.csv"**, sem incluir o índice das linhas.

* Em seguida, o conteúdo do quadro de dados `dicionario` foi exibido para visualização.