In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
df.to_csv("../data/raw/titanic.csv",index=False)

In [7]:
dicionario = pd.DataFrame ([
{
"variavel": "survived",
"descrição": "Indica se o passageiro sobreviveu (1) ou não (0)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "pclass",
"descrição": "Classe do ticket do passageiro (1 = 1ª, 2 = 2ª, 3 = 3ª)",
"tipo": "qualitativa",
"subtipo": "ordinal"
},{
"variavel": "sex",
"descrição": "Sexo do passageiro",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "age",
"descrição": "Idade do passageiro",
"tipo": "quantitativa",
"subtipo": "contínua"
},{
"variavel": "sibsp",
"descrição": "Número de irmãos/cônjuges a bordo",
"tipo": "quantitativa",
"subtipo": "discreta"
},{
"variavel": "parch",
"descrição": "Número de pais/filhos a bordo",
"tipo": "quantitativa",
"subtipo": "discreta"
},{
"variavel": "fare",
"descrição": "Tarifa paga pelo passageiro",
"tipo": "quantitativa",
"subtipo": "contínua"
},{
"variavel": "embarked",
"descrição": "Porto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "class",
"descrição": "Classe do ticket (Primeira, Segunda, Terceira)",
"tipo": "qualitativa",
"subtipo": "ordinal"
},{
"variavel": "who",
"descrição": "Descrição da pessoa (homem, mulher, criança)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "adult_male",
"descrição": "Indica se é um homem adulto (Verdadeiro/Falso)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "deck",
"descrição": "Deck do passageiro",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "embark_town",
"descrição": "Cidade de embarque",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "alive",
"descrição": "Indica se o passageiro sobreviveu (sim ou não)",
"tipo": "qualitativa",
"subtipo": "nominal"
},{
"variavel": "alone",
"descrição": "Indica se o passageiro estava sozinho (Verdadeiro/Falso)",
"tipo": "qualitativa",
"subtipo": "nominal"
}
])

In [8]:
dicionario.to_csv("../data/external/dictionary.csv",index=False)

In [9]:
dicionario

,variavel,descrição,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu (1) ou não (0),qualitativa,nominal
1,pclass,"Classe do ticket do passageiro (1 = 1ª, 2 = 2ª...",qualitativa,ordinal
2,sex,Sexo do passageiro,qualitativa,nominal
3,age,Idade do passageiro,quantitativa,contínua
4,sibsp,Número de irmãos/cônjuges a bordo,quantitativa,discreta
5,parch,Número de pais/filhos a bordo,quantitativa,discreta
6,fare,Tarifa paga pelo passageiro,quantitativa,contínua
7,embarked,Porto de embarque (C = Cherbourg; Q = Queensto...,qualitativa,nominal
8,class,"Classe do ticket (Primeira, Segunda, Terceira)",qualitativa,ordinal
9,who,"Descrição da pessoa (homem, mulher, criança)",qualitativa,nominal
10,adult_male,Indica se é um homem adulto (Verdadeiro/Falso),qualitativa,nominal
11,deck,Deck do passageiro,qualitativa,nominal
12,embark_town,Cidade de embarque,qualitativa,nominal
13,alive,Indica se o passageiro sobreviveu (sim ou não),qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho (Verdade...,qualitativa,nominal